* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --back-ground-color: #f7d1e6;
  --text-color: #646cff;
  --text-hover-color:  #535bf2;
  --title-color:#747bff;
  --button-color: #ed7cd680;
  --header-icon-color: #ec4899;
  --normal-text-color: #213547;
  --input-focos-color: #be185d;
  --input-background-color: #afb3fb;
  --mobile-background-color: #f9f9f9;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: system-ui,Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background: var(--back-ground-color);
}




.cardx {
  width: 30rem;
  height: 30rem;
  border-radius: 0.8rem;
  background-color: white;
  box-shadow: 2px 2px 2px gray;

}

.card-container {
  width: 30rem;
  height: 30rem;
  border-radius: 0.8rem;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
}



.info-text {
  color: var(--normal-text-color);
  padding: 20px 20px;
}


@media (max-width:500px) {
  :root {
    font-size: 50%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--normal-text-color);
    background-color: #ffffff;
  }

  a:hover {
    color: var(--title-color);
  }

  button {
    background-color: var(--mobile-background-color);
  }
}